.section-2
    padding: 21.5rem 0
    background: linear-gradient(91.4deg, rgba(186, 133, 84, 0.7) 16.34%, rgba(0, 0, 0, 0.7) 98.8%), url(../img/section-2/cover.png) center / cover no-repeat
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%)
    &__cards
        display: flex
        align-items: stretch
        flex-direction: row
        column-gap: 6rem
        max-width: 114rem
        margin: 0 auto