.section-1
    padding: 8rem 0 7rem
    &__title
        text-align: center
        margin-bottom: 7rem
        padding: 1rem 0
    &__heading
        margin-bottom: 1rem
    &__text
        margin-bottom: 3rem

