.section-3
    padding: 8rem 1.5rem 8.5rem
    @media (max-width: 880px)
        padding: 6rem 1.5rem 6.5rem
    &__title
        text-align: center
        margin-bottom: 8rem
        @media (max-width: 880px)
            margin-bottom: 6rem
    &__cards
        display: flex
        max-width: 114rem
        margin: 0 auto 8rem
        column-gap: 6rem
        @media (max-width: 1144px)
            flex-wrap: wrap
            justify-content: center
            row-gap: 4rem
    &__button-box
        text-align: center
