.photos
    position: relative
    &__photo
        max-width: 31.8rem
        max-height: 20rem
        border-radius: .5rem
        position: absolute
        transition: all .5s
        &:hover
            transform: scale(1.1) rotate3d(1, 1, 1, 5deg)
            z-index: 20
        &_n1
            top: 0
            left: 0
        &_n2
            top: 9rem
            left: 22.3rem
            &:hover
                transform: scale(1.1) rotate3d(1, 1, 1, -5deg)
        &_n3
            top: 16.5rem
            left: 2rem
    &:hover &__photo:not(:hover)
        transform: scale(0.95)
        

