*
    box-sizing: border-box
html
    font-size: 10px
    @media (max-width: 1310px)
        font-size: 9px
    @media (max-width: 562px)
        font-size: 8px
    @media (max-width: 492px)
        font-size: 7px

body
    font-family: Roboto
    font-weight: 400
    font-size: 1.6rem
    color: $color-gray
    letter-spacing: .2rem
    padding: 5rem
    background-color: $color-white
    @media (max-width: 562px)
        padding: 3rem
    @media (max-width: 492px)
        padding: 0
    


.container
    position: relative
    background-color: #FAFAFA
    z-index: 0

// @media (max-width: 1310px)
// @media (max-width: 1144px)
// @media (max-width: 1046px)
// @media (max-width: 880px)
// @media (max-width: 791px)
// @media (max-width: 758px)
// @media (max-width: 612px)
// @media (max-width: 562px)
// @media (max-width: 492px)
// @media (max-width: 400px)
